@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  @apply font-medium text-zinc-800;
} */

html,
body {
  @apply bg-white scroll-smooth font-medium text-zinc-800;
}

@keyframes fadeInOutSequence {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.skill-item {
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

article h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black !important;
}

article a {
  color: #6366f1 !important;
}

.type-wait {
  animation: blink-caret 0.8s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    @apply text-black;
  }
  50% {
    @apply text-transparent;
  }
}
